audioread==2.1.8
certifi==2020.4.5.1
cffi==1.14.0
click==7.1.1
decorator==4.4.2
ffmpeg-python==0.2.0
future==0.18.2
joblib==1.2.0
librosa==0.7.2
llvmlite==0.32.0
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numba==0.49.0
numpy==1.22.0
PyAudio==0.2.11
pycparser==2.20
pygame==1.9.6
resampy==0.2.2
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
SoundFile==0.10.3.post1
